{% extends "app_base_generic.html" %}
{% block head %}
    <script>
    </script>
{% endblock %}
{% block opciones %}
{% endblock %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if type == 'dp' %}active{% endif %}" href="{% url 'administrativo:mibiografia' %}">Datos personales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if type == 'df' %}active{% endif %}" href="{% url 'administrativo:datos_familiares' %}">Datos familiares</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if type == 'ma' %}active{% endif %}" href="{% url 'administrativo:mis_marcadas' %}">Marcadas</a>
        </li>
    </ul>
    {% block subcontenido %}
    {% endblock %}
{% endblock %}
{% block javascript %}
{% endblock %}
