{% extends 'panelbase.html' %}
{% load static %}
{% load funciones_especiales %}
{% block head %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <style>
        /* static/css/modal.css */
        #modalCamara {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 1000;
            max-width: 50%; /* Ajusta según sea necesario */
            max-height: 50%; /* Ajusta según sea necesario */
            overflow: auto;
            display: flex;
            flex-direction: column;
        }

        .modal-content {
            flex: 1;
        }

        .modal-footer {
            margin-top: auto; /* Hace que el pie de página esté en la parte inferior */
        }

    </style>

    <style>
        /* Estilos para el contenedor de la animación de carga */
        #loader-container {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000;
        }

        /* Estilos para la animación de carga */
        #loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>

    <style>
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            z-index: 2;
        }

        /* Estilos para el mapa */
        #mapa {
            width: 100%;
            height: 400px;
        }
    </style>
    <script>

        {% if jornadaasignada %}
            if ("geolocation" in navigator) {
                // Obtener la ubicación del usuario
                navigator.geolocation.getCurrentPosition(function (position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;

                    // Hacer algo con las coordenadas, como enviarlas al servidor
                    // Puedes utilizar una solicitud AJAX para enviar las coordenadas al servidor

                    // Ejemplo de solicitud AJAX con jQuery
                    $.ajax({
                        url: "{% url 'administrativo:validarRadio' %}", // Ruta de tu vista en el servidor
                        method: "GET",
                        data: {
                            latitude: latitude,
                            longitude: longitude,
                            id: {{ jornadaempleado.empleado.id }},
                        },
                        success: function (data) {
                            if (data.cumple) {
                                var formMarcacion = document.getElementById("formMarcacion");
                                formMarcacion.style.visibility = "visible";
                                var coordenadasubicacion = document.getElementById("coordenadasubicacion");
                                var a_coordenadasubicacion = document.getElementById("a_coordenadasubicacion");
                                coordenadasubicacion.value = latitude + ', ' + longitude;
                                a_coordenadasubicacion.text = latitude + ', ' + longitude;
                                a_coordenadasubicacion.style.color = "blue";
                                var alertaMarcada = document.getElementById("alertaMarcada");
                                alertaMarcada.style.marginTop = "30px";
                            } else {
                                var alertaMarcada = document.getElementById("alertaMarcada");
                                alertaMarcada.style.visibility = "visible";
                            }
                        },
                        error: function () {
                            console.error("Error al enviar las coordenadas al servidor.");
                        }
                    });
                }, function (error) {
                    // En caso de error
                    switch (error.code) {
                        case error.PERMISSION_DENIED:
                            console.log("El usuario denegó la solicitud de geolocalización.");
                            break;
                        case error.POSITION_UNAVAILABLE:
                            console.log("La información de ubicación no está disponible.");
                            break;
                        case error.TIMEOUT:
                            console.log("Se agotó el tiempo para obtener la ubicación.");
                            break;
                        case error.UNKNOWN_ERROR:
                            console.log("Ocurrió un error desconocido al obtener la ubicación.");
                            break;
                    }
                });
            } else {
                console.log("El navegador no admite la geolocalización.");
            }
        {% endif %}

        function mostrarFechaHora() {
            // Obtiene el elemento donde se mostrará la fecha y hora
            const fechaHoraElemento = document.getElementById('fecha-hora');

            // Función para obtener la fecha y hora actual
            function obtenerFechaHoraActual() {
                const ahora = new Date();
                const fecha = ahora.toLocaleDateString('es-ES');
                const hora = ahora.toLocaleTimeString('es-ES');
                return `${fecha} - ${hora}`;
            }

            // Función para actualizar la fecha y hora cada segundo
            function actualizarFechaHora() {
                const fechaHora = obtenerFechaHoraActual();
                fechaHoraElemento.textContent = fechaHora;
            }

            // Llama a la función por primera vez para evitar retrasos
            actualizarFechaHora();

            // Actualiza la fecha y hora cada segundo
            setInterval(actualizarFechaHora, 1000);
        }

        function inicializarCamara() {
            var video = document.getElementById('video');

            // Verificar si el navegador es compatible con getUserMedia
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                // Acceder a la cámara y configurar el flujo de video en el elemento video
                navigator.mediaDevices.getUserMedia({video: true})
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (error) {
                        console.error('Error al acceder a la cámara:', error);
                    });
            } else {
                console.error('getUserMedia no es soportado en este navegador.');
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            inicializarCamara();
            mostrarFechaHora();
        })

        function registrarMarcada() {
            var coordenadasubicacion = $("#coordenadasubicacion").val();
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');
            var video = document.getElementById('video');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            // Obtener la imagen en formato base64 desde el canvas
            var imageData = canvas.toDataURL('image/jpeg');
            // Enviar la imagen al backend utilizando AJAX
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: 'POST',
                url: "{% url 'administrativo:registrar_marcada' %}",  // Ajusta la URL según tu configuración
                data: {
                    imagen: imageData,
                    coordenadasubicacion: coordenadasubicacion,
                    // Puedes enviar otros datos si es necesario
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (response) {
                    if (response.success === true) {
                        location.reload();
                    } else {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'warning',
                            title: response.errors,
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                    // Puedes realizar acciones adicionales si es necesario
                },
                error: function (error) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'warning',
                        title: 'Error al enviar la imagen al servidor',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    console.error('Error al enviar la imagen al servidor:', error);
                }
            });

        }
    </script>
{% endblock %}
{% block contenido %}
    <div id="modalMapa" class="modal">
        <div class="modal-content" style="text-align: right">
            <span id="cerrarModal" style="cursor: pointer;margin-right:10px">&times;</span>
            <div id="mapa" style="width: 100%; height: 400px;"></div>
        </div>
    </div>
    <div class="col-md-12 mb-lg-0 mb-4">
        <div class="position-relative card mt-1">
            <div class="card-header pb-0 p-3">
                <div id="alertaMarcada" class=""
                     style="margin-top:200px;text-align: center;vertical-align:center;height: 5%;background: transparent;border-style: none;visibility: hidden;">
                    <h3 style="color: orange">Te encuentras fuera de rango disponible para marcar</h3>
                </div>
            </div>
            <div id="formMarcacion" class=""
                 style="text-align: center;margin-top: -100px;border-style: none;visibility: hidden;{% if not jornadaasignada %}display: none{% endif %}">
                <form action="/administrativo/registrar_marcada/" id="id_formulario_generico"
                      class="save-modal-form-generic"
                      autocomplete="off" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body p-3" style="text-align:center">
                        <div style="text-align: left;width: 100%">
                            <h3>Bienvenido, {{ persona_logeado }}</h3>
                            <b><h4>Mi jornada: </h4> {{ jornadaempleado }}</b>
                        </div>
                        <div class="modal-body d-flex justify-content-center align-items-center"
                             style="width: 300px; height: 300px; border-radius: 50%; overflow: hidden; position: relative;left: 40%">
                            <div id="loader-container">
                                <div id="loader"></div>
                            </div>
                            <video id="video" width="100%" height="100%"
                                   style="object-fit: cover; border-radius: 50%; position: absolute;"
                                   autoplay name="fotopersona"></video>
                        </div>
                        <br>
                        <div class="mb-3" style="text-align: center">
                            <label for="coordenadasubicacion" class="form-label"
                                   style="font-size: 22px">Ubicación</label><br>
                            <input type="hidden" style="text-align: center" name="coordenadasubicacion" readonly
                                   class="form-control" id="coordenadasubicacion">
                            <a id="a_coordenadasubicacion" style="cursor: pointer;"></a>
                        </div>
                        <p><b id="fecha-hora"></b></p>
                        <button type="button" class="btn btn-success" onclick="registrarMarcada()">Registrar marcada</button>
                        <a class="btn btn-danger" href="/">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>





{% endblock %}

{% block script %}
    <script>

        const abrirModalButton = document.getElementById("a_coordenadasubicacion");
        const modalMapa = document.getElementById("modalMapa");
        const cerrarModal = document.getElementById("cerrarModal");
        var coordenadasubicacion = document.getElementById("coordenadasubicacion");
        let mapa; // Variable para el objeto de mapa

        function inicializarMapa(latitud, longitud) {
            if (mapa) {
                mapa.remove();
            }

            // Inicializar el mapa cuando se abre el modal
            mapa = L.map('mapa').setView([latitud, longitud], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(mapa);

            // Agregar un marcador en la ubicación deseada
            L.marker([latitud, longitud]).addTo(mapa);
        }

        abrirModalButton.addEventListener("click", function () {
            modalMapa.style.display = "block";
            coordenadasubicacion = coordenadasubicacion.value;
            const partes = coordenadasubicacion.split(", ");
            var latitud = partes[0];
            var longitud = partes[1];
            inicializarMapa(parseFloat(latitud), parseFloat(longitud));

            // Inicializar el mapa cuando se abre el modal
            mapa = L.map('mapa').setView([parseFloat(latitud), parseFloat(longitud)], 13);

            // Agregar una capa de mapa
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
            }).addTo(mapa);

            // Agregar un marcador en la ubicación deseada
            const marcador = L.marker([parseFloat(latitud), parseFloat(longitud)]).addTo(mapa);

            // Puedes personalizar el marcador, por ejemplo, cambiando su icono
            marcador.bindPopup("Ubicación").openPopup();
        });

        cerrarModal.addEventListener("click", function () {
            modalMapa.style.display = "none";
            // Destruir el mapa cuando se cierra el modal
        });
    </script>
{% endblock %}