{% extends 'panelbase.html' %}
{% load static %}
{% load funciones_especiales %}
{% block head %}
    <link rel="manifest" href="/manifest.json">
    <style>
        h4 {
            font-size: 16px;
            margin: 0;
        }

        h5 {
            margin: 0;
        }

        h3 {
            font-size: 20px;
            line-height: 20px;
        }

        .padding {
            padding: 15px 15px 15px 15px;
        }

        .icono {
            width: 160px;
            float: left;
            height: 190px;
            background: #fafafa;

            /*background: #0c0c0c;*/
            margin-right: 10px;
            margin-bottom: 10px;
            position: relative;
            border-radius: 10px 10px;
            vertical-align: middle;

        }

        .icono.hovered {
            background: rgba(90, 141, 238, .15);
            color: #5A8DEE;
            cursor: pointer;

        }

        .icono .icononombre {
            font-weight: bold;
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            font-size: 14px;
            line-height: 10px;
        }

        .icono .iconodescripcion {
            font-weight: normal;
            font-size: 10px;
            line-height: 10px;
        }

        .icono .iconoimagen {
            width: 100%;
            text-align: center;
            padding-top: 10px;
        }

        .icono .iconoimagen img {
            height: 80px;
        }
    </style>
{% endblock %}
{% block contenido %}
    <div class="accordion" id="accordionMenu">
        {% for categoria in categoriasmodulo %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="categoria{{ categoria.id }}">
                    <button class="rounded-3 accordion-button accordion-btn-white fs-5 px-3 {% if not forloop.first %}collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse" data-bs-target="#categoriaMenu{{ categoria.id }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                            aria-controls="categoriaMenu{{ categoria.id }}" style="background: #344767">
                        <b class="" style="color: white">
                            <i class="{{ categoria.icono }} fs-3 me-2"></i> {{ categoria.nombre }}
                        </b>
                    </button>
                </h2>
                <div id="categoriaMenu{{ categoria.id }}"
                     class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                     aria-labelledby="categoria{{ categoria.id }}" data-bs-parent="#accordionMenu">
                    <div class="accordion-body">
                        <div class="containerMenuFavoritos">
                            <div class="row">
                                <div class="col">
                                    {% if request.user.is_superuser %}
                                        {% setvar categoria.todos_los_modulos as listmodulos %}
                                    {% else %}
                                        {% setvar categoria|args:persona_logeado|args:tg|call:"mismodulos" as listmodulos %}
                                    {% endif %}
                                    {% for modulo in listmodulos %}
                                        <div class="contenidoitem">
                                            <div class="icono" url="{{ modulo.ruta }}">
                                                <div class="iconoimagen">
                                                    <div class="padding">
                                                        <img src="{{ modulo.icono.url }}" alt="Icono del módulo">
                                                    </div>
                                                </div>
                                                <div class="icononombre">
                                                    <div class="padding">
                                                        <h4 class="tituloicono">{{ modulo.nombre }}</h4>
                                                        <span class="iconodescripcion">{{ modulo.descripcion }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
    <script>

        $(".icono").hover(function () {

            $(this).addClass("hovered");
        }, function () {
            $(this).removeClass("hovered");

        }).click(function () {

            var url = $(this).attr('url');

            if (url[0] == '/') {

                location.href = url;

            } else {

                location.href = "/" + url;
            }


        });

    </script>

    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function(error) {
          console.log('ServiceWorker registration failed: ', error);
        });
      });
    }
  </script>

{% endblock %}
